@page "/categories"

<PageTitle>Категории</PageTitle>

<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h1>Категории</h1>
    </div>
    <div>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="HandleClickAddItemButton">Добавить категорию</MudButton>
    </div>
</div>

@if (_categories == null)
{
    <p>
        <em>Загрузка...</em>
    </p>
}
else
{
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Дата создания</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < _categories.Count; i++)
        {
            var category = _categories[i];
            <tr>
                <td>@(i + 1)</td>
                <td>@category.Name</td>
                <td>@category.CreatedAt.ToString("dd.MM.yyyy")</td>
                <td>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Warning" @onclick="() => HandleClickEditItemButton(category)">Редактировать</MudButton>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Secondary" @onclick="() => HandleClickRemoveItemButton(category.Id)">Удалить</MudButton>
                </td>
            </tr>
        }
        </tbody>
    </MudSimpleTable>
}