@page "/tags"

<PageTitle>Теги</PageTitle>

<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h1>Теги</h1>
    </div>
    <div>
        <MudFab Color="Color.Info" StartIcon="@Icons.Material.Filled.Add" @onclick="HandleClickAddItemButton" Label="Добавить" />
    </div>
</div>

@if (_tags == null)
{
    <p>
        <em>Загрузка...</em>
    </p>
}
else
{
    <MudSimpleTable Style="overflow-x: auto;">
        <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Дата создания</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < _tags.Count; i++)
        {
            var tag = _tags[i];
            <tr>
                <td>@(i + 1)</td>
                <td>@tag.Name</td>
                <td>@tag.CreatedAt.ToString("dd.MM.yyyy")</td>
                <td>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Warning" @onclick="() => HandleClickEditItemButton(tag)">Редактировать</MudButton>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="() => HandleClickRemoveItemButton(tag.Id)">Удалить</MudButton>
                </td>
            </tr>
        }
        </tbody>
    </MudSimpleTable>
}